/*@font-face {
  font-family: 'nikaiaregular';
  src: url('font/nikaia-webfont.woff2') format('woff2'),
       url('font/nikaia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: cloudx;
  src: url('webfonts/cloud-light-webfont.woff') format('woff'),
       url('webfonts/cloud-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400i');

/*@font-face {
  font-family: Ruda;
  src: url('font/Ruda-Bold.ttf') format('truetype');
}
*/
@font-face {
  font-family: GochiHand;
  src: url('font/GochiHand-Regular.ttf') format('truetype');
}

*
{
  /*font-family: GochiHand,sans-serif;*/
  font-family: Ropa Sans, sans-serif;
  font-size:18pt;
}

body
{
  background-color: #F3FFEF;
  /*background-color: #faf3d7;*/
  padding:0;
  margin:0;
  width:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x:hidden;
}

/* ------------ PATTERNS -------------*/

.pattern-pegged
{
  background-attachment: scroll;
}

.pattern-inflicted
{
  background-repeat: repeat;
  background-image: url(../PATTERN/inflicted.png);
}

.pattern-skull
{
  background-repeat: repeat;
  background-image: url(../PATTERN/skulls.png);
}

.pattern-vichy
{
  background-repeat: repeat;
  background-image: url(../PATTERN/vichy.png);
}

.pattern-black-ice-age
{
  background-color:#141417;
  background-repeat: repeat;
  background-image: url(../PATTERN/ice-age.png);
}

.black-bkk
{
  background-color:black;
}

.semi-black-bkk
{
  background-color: rgba(0,0,0,0.3);
}

/* ------------ LAYOUT -------------*/

.topmost
{
  z-index: 10;
}

.free-float
{
  position: fixed;
}

.center
{
  left:0;
  right:0;
  margin:0 auto;
}

.fullwidth
{
  width:100%;
  text-align:center;
}

.fullheight
{
  height:100%;
}

.cinema-width
{
  width:87%;
  max-width: 1300px;
  left:0;
  right:0;
  margin:0 auto;
}

.inline-container > *
{
  display: inline-block;
  vertical-align: middle;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

.clip-content
{
  overflow: hidden;
}

.top-left-pin
{
  position: fixed;
  top:5px;
  left:5px;
}

.left-pin
{
  position: fixed;
  top:43px;
  left:0;
}

.left-pin ul
{
  list-style: none;
  padding:0;
  margin: 0;
  color: #E0E0E0;
}

.left-pin ul li
{
  width:100%;
  padding-top: 7px;
  padding-bottom: 7px;
  margin:0;
  border-bottom: 1px dotted #101010;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

.left-pin ul li:hover
{
  border-left:3px solid orange;
  color:orange;
  padding-left:10px;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

ul.inline
{
  display: inline
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.inline li
{
  display: inline-block;
  vertical-align: middle;
}

/* ------------ SHAPES -------------*/
.circle
{
  border-radius: 50% 50%;
}

.link
{
  cursor: pointer;
}

.textlink-effect:hover
{
  text-shadow:0 0 5px rgba(200,200,200,0.6);
  color:#353535;
}

.black-box
{
  background-color: #484848;
  padding:10px 10px;
  border:2px solid rgba(0,0,0,0.8);
  cursor: default;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.box
{
  background-color: white;
  padding:10px 10px;
  border:2px solid rgba(0,0,0,0.8);
  cursor: default;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.box:hover
{
  background-color:rgba(240,200,200,0.4);
}

.pressed-box
{
  color: #929292;
  padding:10px 10px;
  background-color: black;
  border:2px solid rgba(0,0,0,0.8);
  cursor: default;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}

.pressed-box:hover
{
  color: orange;
}

.pressed-box:hover
{
  background-color:#200C00;
}

.border
{
  border:1px solid rgba(0,0,0,0.5);
}

.dash-gray-border
{
  border-top:2px dashed #353535;
  border-bottom:2px dashed #353535;
}

.layout-frame /* DEBUG */
{
  /*border:1px solid rgba(0,0,0,0.3);*/
}

.layout-frame-light /* DEBUG */
{
  border: 1px solid rgba(255,255,255,0.3);
}

.black-filled-white-text
{
  background-color: black;
  color:white;
}

.lighten
{
  background-color: rgba(255,255,255,0.35)
}

.darken
{
  background-color: rgba(0,0,0,0.35);
}

.shadow-wide
{
  box-shadow: 0 0 5px black;
}

.tagged-wireframe
{
  border:1px dotted rgba(255,255,255,0.3);
  margin-left:2px;
  margin-right:2px;
  padding:5px;
}

/* ------------ TYPOS -------------*/

.megatext
{
  font-size:50pt;
}

.largetext, h1
{
  font-size:40pt;
  font-weight: normal;
}

.bigtext, h2
{
  font-size:26pt;
  font-weight: normal;
}

.smalltext
{
  font-size:13pt;
}

.highlighted
{
  border:1px solid rgba(10,10,10,0.4);
}

.highlighted-thick
{
  border:3px solid;
}

.mono
{
  font-family: courier;
}

.white-font
{
  color: white;
}

.yellow-font
{
  color: yellow;
}

.gray-font
{
  color: gray;
}

.brown-font
{
  color:brown;
}

.left-align
{
  text-align: left;
}

.rotate-cw
{
  transform: rotate(90deg);
}

/* ---------------- BUTTONS ----------- */
a, a:visited
{
  color: teal;
  border-bottom: 1px dotted;
  cursor: default;
  text-decoration: none;
}

a:hover, a:hover:visited
{
  border-bottom: 1px double;
}

button.white
{
  padding: 8px 12px;
  border: 1px solid black;
  background-color:white;
  color:black;
  cursor:pointer;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

button.white:hover
{
  background-color:#FFF8E0;
  color:black;
  cursor:pointer;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
  margin-left:5px;
}

button.wireframe
{
  padding: 8px 12px;
  border:1px solid white;
  background-color: rgba(0,0,0,0);
  color:white;
  cursor:pointer;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

button.wireframe:hover
{
  background:#F3F3F3;
  color:black;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

button.cyan
{
  padding: 8px 12px;
  border:1px solid cyan;
  background-color: rgba(0,0,0,0);
  color:cyan;
  cursor:pointer;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

button.cyan:hover
{
  background:cyan;
  color:black;
  -webkit-transition:all 0.31s ease-out;
  -moz-transition:all 0.31s ease-out;
  -o-transition:all 0.31s ease-out;
  transition-property:all;
  transition-duration:0.31s;
}

button:not(.wireframe)
{
  box-shadow: 0 1px 3px black;
}