*
{
	font-family: 'CoreSansA35Light';
	font-size:14pt;
}

body
{
	background-color:#CFCFCF;
	padding:0;
	margin:0;
	width:100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
}

body.with-background
{
	background-image: url('../PATTERN/silver-mesh.jpg');
}


/*---------------------------- HEADER PANEL ----------------------------*/

header#window-header
{
	width;100%;
	height:42px;
	background-color:#2E2E2E;
	border-top:3px solid black;
	border-bottom:1px solid black;
	box-shadow: 0 1px 1px rgba(0,0,0,0.33);
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:8;
}

header#window-header > .content-container
{
	width:100%;
	height:100%;
	color:#C8C8C8;
	line-height: 1.8em;
	font-size:17pt;
	text-shadow:1px 1px 1px black;
	text-align: center;
}

header#window-header > .social-panel
{
	position: absolute;
	float: right;
	right: 10px;
	top: 6px;
	height: 27px;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
	background-color:#181818;
	font-size: 8pt;
	border: 1px solid black;
}

.social-panel > div.social-box
{
	display: -webkit-inline-box;
    display: -webkit-inline-flex;
	display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: auto;
	height:27px;
}

header#window-header > div[data-elem='backhome']
{
	display: block;
	position: fixed;
	float:left;
	left:10px;
	top:10px;
	width: 50px;
	height:26px;
	font-size:10pt;
	padding-left:7px;
	padding-right:7px;
	border-radius:4px 4px;
	cursor:pointer;
	line-height: 2em;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

header#window-header > div[data-elem='backhome']:hover
{
	width:85px;
	text-align: center;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}



/*--------------------- COMMON CLASSES -------------------------------------------------------------------------*/

h1
{
	font-size:130%;
	margin-top:3px;
	padding-top:3px;
	padding-bottom:3px;
	/*padding-left:20px;
	padding-right:20px;*/
	border-top:1px double;
	border-bottom:1px double;
	margin-bottom:10px;
}

h2
{
	font-size:118%;
	margin-top:3px;
	padding-top:3px;
	padding-bottom: 3px;
	padding-left:12px;
	padding-right:8px;
	border-left:8px dotted;
}

.center
{
	left:0;
	right:0;
	margin:0 auto;
}

.ads-link
{
	cursor: pointer;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

.link
{
	cursor: pointer;
}

.link-limelight:hover
{
	text-shadow:0 0 8px lime;
	cursor:pointer;
}

.link-box
{
	cursor:pointer;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

.link-box:hover
{
	transform:rotate(8deg) scale(1.1);
	-webkit-transform:rotate;(8deg) scale(1.1);
	-o-transform:rotate(8deg) scale(1.1);
	-moz-transform:rotate(8deg) scale(1.1);
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

.white-border
{
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:8px solid white;
	border-bottom:8px solid white;
	padding: 15px 10px;
	color:white;
}

.black-border
{
	border:1px solid black;
	padding:15px 10px;
}


.black-thick-border
{
	border:3px solid #151515;
}

.thick-darken-border
{
	border:5px solid rgba(0,0,0,0.33);
}

.gray
{
	color:gray;
}

.orange, .orange *
{
	color:orange;
}

.brick, .brick *
{
	color:peru;
}

.yellow, .yellow *
{
	color:yellow;
}

.black
{
	color:black;
}

.white, .white *
{
	color:white;
}

.cyan, .cyan *
{
	color:cyan;
}

.lime, .lime *
{
	color:lime;
}

.green, .green *
{
	color:springgreen;
}

.aqua, .aqua *
{
	color:mediumaquamarine;
}

.lightaqua, .lightaqua *
{
	color: turquoise;
}

.smalltext, .smalltext *
{
	font-size:89%;
}

.smalltext-box, .smalltext-box *
{
	font-size:11pt;
}

.minitext, .minitext *
{
	font-size:76%;
}

.noshadow
{
	text-shadow:none;
}

.blackshadow
{
	text-shadow:0 0 3px black;
}

.whiteshadow
{
	text-shadow:0 0 3px white;
}

.redshadow
{
	text-shadow:0 0 3px orangered;
}


.left-black-gradient
{
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(48,44,44,0.52) 78%, rgba(61,57,57,0.08) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(78%,rgba(48,44,44,0.52)), color-stop(100%,rgba(61,57,57,0.08))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(48,44,44,0.52) 78%,rgba(61,57,57,0.08) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(48,44,44,0.52) 78%,rgba(61,57,57,0.08) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(48,44,44,0.52) 78%,rgba(61,57,57,0.08) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(48,44,44,0.52) 78%,rgba(61,57,57,0.08) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#143d3939',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.orange-gradient
{
	background: #f48230; /* Old browsers */
	background: -moz-linear-gradient(top, #f48230 0%, #e26e53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f48230), color-stop(100%,#e26e53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f48230 0%,#e26e53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f48230 0%,#e26e53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f48230 0%,#e26e53 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f48230 0%,#e26e53 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48230', endColorstr='#e26e53',GradientType=0 ); /* IE6-9 */
}

.transparent-black-gradient
{
	background: -moz-linear-gradient(top, rgba(244,130,48,0) 0%, rgba(166,88,33,0) 32%, rgba(0,0,0,0.52) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,130,48,0)), color-stop(32%,rgba(166,88,33,0)), color-stop(100%,rgba(0,0,0,0.52))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,130,48,0) 0%,rgba(166,88,33,0) 32%,rgba(0,0,0,0.52) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,130,48,0) 0%,rgba(166,88,33,0) 32%,rgba(0,0,0,0.52) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,130,48,0) 0%,rgba(166,88,33,0) 32%,rgba(0,0,0,0.52) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,130,48,0) 0%,rgba(166,88,33,0) 32%,rgba(0,0,0,0.52) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f48230', endColorstr='#85000000',GradientType=0 ); /* IE6-9 */
}

.transparent-black-gradient-invert
{
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.51) 76%, rgba(0,0,0,0.33) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(76%,rgba(0,0,0,0.51)), color-stop(100%,rgba(0,0,0,0.33))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.51) 76%,rgba(0,0,0,0.33) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.51) 76%,rgba(0,0,0,0.33) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.51) 76%,rgba(0,0,0,0.33) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.51) 76%,rgba(0,0,0,0.33) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#54000000',GradientType=0 ); /* IE6-9 */
}

.transparent-black-centered-gradient
{
	background: -moz-linear-gradient(left, rgba(0,0,0,0.66) 0%, rgba(0,0,0,0.67) 1%, rgba(0,0,0,0.99) 48%, rgba(0,0,0,1) 49%, rgba(0,0,0,0.66) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.66)), color-stop(1%,rgba(0,0,0,0.67)), color-stop(48%,rgba(0,0,0,0.99)), color-stop(49%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.66))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.67) 1%,rgba(0,0,0,0.99) 48%,rgba(0,0,0,1) 49%,rgba(0,0,0,0.66) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.67) 1%,rgba(0,0,0,0.99) 48%,rgba(0,0,0,1) 49%,rgba(0,0,0,0.66) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.67) 1%,rgba(0,0,0,0.99) 48%,rgba(0,0,0,1) 49%,rgba(0,0,0,0.66) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.67) 1%,rgba(0,0,0,0.99) 48%,rgba(0,0,0,1) 49%,rgba(0,0,0,0.66) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 */
}

.orange-radial-gradient
{
	background-image:radial-gradient(center center, ellipse cover, rgba(200,70,0,0.77), rgba(0,0,0,0.1));
	background-image:-o-radial-gradient(center center, ellipse cover, rgba(200,70,0,0.77), rgba(0,0,0,0.1));
	background-image:-moz-radial-gradient(center center, ellipse cover, rgba(200,70,0,0.77), rgba(0,0,0,0.1));
	background-image:-webkit-radial-gradient(center center, ellipse cover, rgba(200,70,0,0.77), rgba(0,0,0,0.1));
}

.black-translucent
{
	background-color: rgba(0,0,0,0.77);
}

.inset-black-text
{
	color:#505050;
	text-shadow:inset 1px 1px 1px black;
}

.flipX
{
	transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	filter:flipH;
}

.flipY
{
	transform:scaleY(-1);
	-o-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-webkit-transform:scaleY(-1);
	filter:flipV;
}

.clip-content
{
	overflow: hidden;
}

.stretch
{
	width:100%;
	height: 100%;
}

.fullwidth
{
	width:100%;
	text-align:center;
}

.halfwidth
{
	width:50%;
}

.floatleft
{
	float:left;
}

.floatright
{
	float:right;
}

.marked
{
	padding:5px 15px;
	border:1px solid turquoise;
	color: turquoise;
}


/*----------------------- LAYOUT CLASSES -----------------------------------------------------------------*/
.free-float
{
	position: fixed;
}

.bottom-float-fixed
{
	position: absolute;
	bottom: 0;
}


.left-float-fixed
{
	float:left;
	margin-top:36px;
	margin-left:50px;
}

.left-float-hung
{
	float:left;
	position: relative;
	margin-top: 66px;
	margin-left: 90px;
}

.left-float-free
{
	float:left;
	position: absolute;
	margin-top:66px;
	margin-left: 90px;
}

.float-inside
{
	float:left;
	position: relative;;
}

div.inline
{
	display:inline-block;
}

div.snaptop
{
	vertical-align: top;
}

div.snapmiddle
{
	vertical-align: middle;
}

.ads-big
{
	width:100%;
	height:680px;
	background-color: rgba(120,150,200,0.26);
	border-bottom:1px solid black;
	display: block;
	padding: 0;
	margin: 0;
}

.ads-panel
{
	float: right;
	width:280px;
	height:120px;
	padding:10px;
	background-color: rgba(0,0,0,0.88);
	color:white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.33);
}

.ads-panel.link:hover
{
	cursor: pointer;
	background-color:rgba(30,0,0,0.88);
	box-shadow:0 0 6px rgba(200,120,0,0.67);
}

.ads-panel-float
{
	position: relative;
	right:170px;
	top:220px;
}


.ads-headline-box
{
	float:right;
	font-size:20pt;
	text-shadow:0 0 5px white;
	padding: 10px 10px;
}

.ads-headline-box.link:hover
{
	background-color:rgba(255,255,255,0.45);
	cursor:pointer;
}


.ads-headline-box-float
{
	position: relative;
	right:225px;
	top:85px;
}


.misc-big
{
	width:100%;
	background-color: rgba(10,20,60,0.82);
	background-image: url('../PATTERN/gray-horz.png');
	background-size:100% auto;
	border-bottom:1px solid black;
	display: block;
	padding: 0;
	margin: 0;
	color:#A0ACCA;
}


.left-gutter
{
	height:100%;
	float:left;
	background-color:black;
	margin:0;
	padding:0;
	display:inline-block;
}

.content
{
	display: inline-block;
	height:100%;
	left:35px;
	right:0;
	margin:0 auto;
	padding:0;
}

section.black
{
	background-color: black;
	color:#001030;
}

section.black-mesh
{
	background-color:silver;
	background-image: url('../PATTERN/black-mesh.jpg');
}

section.centered > div
{
	margin:0 auto;
}


/*------------------------ SPECIFIC ELEMENTS --------------------------------------------------------*/


input[type="text"]
{
	background-color: rgba(0,25,65,0.85);
	padding:8px;
	margin:5px;
	border:1px solid #003065;
	box-shadow: 0 1px 3px rgba(0,0,0,0.65);
	color:rgba(0,165,225,0.8);
}

.bullet-link
{
	width:56px;
	height:56px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.56);
	border:1px double black;
	background-color: black;
	color:white;
	padding:5px 5px;
}

.bullet-link:hover
{
	margin-left:8px;
	width:58px;
	height:58px;
}

ul.nodot
{
	list-style-type: none;
}

ul.leftsnap
{
	padding-left: 10px;
}

ul.inline
{
	list-style-type: none;
	margin:0;
	padding: 0;
}

ul.inline li
{
	display:inline-block;
}

ul.icon li
{
	width:128px;
	height:128px;
	background-color: rgba(0,0,0,0.39);
	border-radius:10px 10px;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.65);
	color:black;
}

ul.icon li:hover
{
	background-color: rgba(0,220,250,0.15);
}

ul.smalltext li
{
	font-size: 89%;
}

ul.gap li
{
	padding-top:5px;
	padding-bottom:5px;
}	

ul.dashed li
{
	border-top: 1px dashed;
}

img.placeholder, img[data-image="placeholder"]
{
	border:1px dashed white;
	background-color:rgba(255,255,255,0.58);
	color:gray;
}

img.inline
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

div.overlay
{
	font-size:20pt;
	display: inline
}


.float-ads-image /* USUALLY TRANSPARENT-BACKGROUND IMAGE */
{
	position: fixed;
	width: auto;
	height:100%;	
}


div.screenshot
{
	border:1px solid black;
	background-color:white;
	box-shadow: 0 1px 6px black;
	width: 320px;
	height:200px;
}

div.screenshot img
{
	margin:3px;
	border:1px solid silver;
	width:312px;
	height:192px;
}

div.screenshot-mega
{
	width:900x;
	height: 562px;
	border:1px solid rgba(0,0,0,0.88);
	box-shadow: 0 0 4px rgba(0,0,0,0.59)
}

div.screenshot-mega img
{
	margin:1px 1px;
	width: 897px;
	height:559px;
}

button.dark
{
	color:black;
	border:1px solid black;
}


button.wireframe
{
	border-radius: 5px 5px;
	padding: 8px 12px;
	border:1px solid white;
	background-color: rgba(0,0,0,0);
	color:white;
	cursor:pointer;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

button.wireframe:hover
{
	background:#F3F3F3;
	color:black;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

button:not(.wireframe)
{
	font-size:13pt;
	border-radius: 5px 5px;
	padding: 8px 12px;
	border:1px solid #f7c931;
	background-color: rgba(0,0,0,0);
	color:#f7c931;
	cursor:pointer;
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

button:hover:not(.wireframe)
{
	background-color: #f7c931;
	color:black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c931', endColorstr='#ea7235',GradientType=0 ); /* IE6-9 */
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

button.solid
{
	border-color: black;
	background-color: orange;
	color:black;
}

button.solid:hover
{
	background-color:yellow;
	color:black;
}

table td
{
	vertical-align: middle;
}

.circle
{
	border-radius: 50%;
}

.ring
{
	border-radius: 50%;
	border-style: solid;
	border-width: 8px;
}

.ring > div
{
	width:50%;
	height:50%;
	margin:25%;
}

.note-box
{
	padding:12px 12px;
	background-color:rgba(0,0,0,0.55);
	color:white;
}

.note-box-round
{
	padding: 10px 10px;
	background-color:rgba(0,0,0,0.55);
	color:white;
	border:1px solid rgba(0,0,0,0.75);
	box-shadow: 0 0 2px rgba(0,0,0,0.34);
	border-radius: 14px 14px;
}

.round-border
{
	border:1px solid black;
	border-radius:8px 8px;
}

.round-border-3
{
	border:3px solid black;
	border-radius:8px 8px;
}


li span.attr
{
	float:left;
	border:1px solid black;
	background-color: #863000;
	color:orange;
	text-shadow:-1px 0 2px black;
	padding:5px;
	margin-right:15px;
	font-size: 12pt;
}

li span.value
{
	font-size: 11pt;
}

li span.minivalue
{
	font-size:9pt;
}

div.catalog-elem
{
	height: 60px;
	padding: 10px;
	margin-top: 3px;
}

div.catalog-elem > div
{
	display: inline-block;
}

div.catalog-elem > div:first-of-type
{
	left:0;
	height:52px;
	width:52px;
	border:1px solid white;
	background-color: #181818;
}

div.catalog-elem > div:nth-of-type(2)
{
	margin-left:20px;
	height:52px;
	width:auto;
	vertical-align: middle;
}


.circle-label
{
	line-height: 8;
	text-align: center;
	font-size: 23pt;
	color: rgba(0,0,0,0.43);
	text-shadow: none;
}


.scroll-down-note
{
	bottom:37px;
	width:100%;
	text-align:center;
	-webkit-animation-name: hopping;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: hopping;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: hopping;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes hopping {  
    0% { bottom:40px; }
    66% { bottom:30px; }
    100% { bottom:40px; }
}

@-webkit-keyframes hopping {  
    0% { bottom:40px; }
    66% { bottom:30px; }
    100% { bottom:40px; }
}

