*
{
	font-family: 'CoreSansA35Light';
	font-size:14pt;
}

body
{
	background-color:#CFCFCF;
	padding:0;
	margin:0;
	width:100%;
	background-image: url('../PATTERN/silver-mesh.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
}


/*---------------------------- HEADER PANEL ----------------------------*/

header#window-header
{
	width;100%;
	height:42px;
	background-color:#2E2E2E;
	border-top:3px solid black;
	border-bottom:1px solid black;
	box-shadow: 0 1px 1px rgba(0,0,0,0.33);
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:8;
}

header#window-header > .content-container
{
	width:100%;
	height:100%;
	color:#C8C8C8;
	line-height: 1.8em;
	font-size:17pt;
	text-shadow:1px 1px 1px black;
	text-align: center;
}

header#window-header > .social-panel
{
	position: absolute;
	float: right;
	right: 10px;
	top: 6px;
	width: 127px;
	height: 27px;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
	background-color:#181818;
	font-size: 8pt;
	border: 1px solid black;
}

header#window-header > div[data-elem='backhome']
{
	display: block;
	position: fixed;
	float:left;
	left:10px;
	top:10px;
	width: 50px;
	height:26px;
	font-size:10pt;
	border-radius:6px 6px;
	cursor:pointer;
	line-height: 2em;
}



/*--------------------- COMMON CLASSES -------------------------------------*/

h1
{
	font-size:130%;
	margin-top:3px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:20px;
	padding-right:20px;
	border-top:1px double;
	border-bottom:1px double;
	margin-bottom:10px;
}

h2
{
	font-size:118%;
	margin-top:3px;
	padding-top:3px;
	padding-bottom: 3px;
	padding-left:12px;
	padding-right:8px;
	border-left:8px dotted;
}

.center
{
	left:0;
	right:0;
	margin:0 auto;
}

.link
{
	cursor: pointer;
}

.gray
{
	color:gray;
}

.orange
{
	color:orange;
}

.smalltext
{
	font-size:89%;
}

.blackshadow
{
	text-shadow:0 0 5px black;
}


/*----------------------- LAYOUT CLASSES ------------------------------------*/
.free-float
{
	position: fixed;
}

.ads-big
{
	width:100%;
	height:680px;
	background-color: rgba(120,150,200,0.26);
	border-bottom:1px solid black;
	display: block;
	padding: 0;
	margin: 0;
}

.ads-panel
{
	float: right;
	width:280px;
	height:120px;
	padding:10px;
	background-color: rgba(0,0,0,0.88);
	color:white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.33);
}

.ads-panel.link:hover
{
	cursor: pointer;
	background-color:rgba(30,0,0,0.88);
	box-shadow:0 0 6px rgba(200,120,0,0.67);
}

.ads-panel-float
{
	position: relative;
	right:170px;
	top:220px;
}


.ads-headline-box
{
	float:right;
	font-size:20pt;
	text-shadow:0 0 5px white;
	padding: 10px 10px;
}

.ads-headline-box.link:hover
{
	background-color:rgba(255,255,255,0.45);
	cursor:pointer;
}


.ads-headline-box-float
{
	position: relative;
	right:225px;
	top:85px;
}


.misc-big
{
	width:100%;
	background-color: rgba(10,20,60,0.82);
	background-image: url('../PATTERN/blue-dots.png');
	background-size:100% auto;
	border-bottom:1px solid black;
	display: block;
	padding: 0;
	margin: 0;
	color:#A0ACCA;
}


.left-gutter
{
	height:100%;
	float:left;
	width:110px;
	background-color:black;
	margin:0;
	padding:0;
	display:inline-block;
}

.content
{
	display: inline-block;
	height:100%;
	left:35px;
	right:0;
	margin:0 auto;
	padding:0;
}

section.black
{
	background-color: black;
	color:#001030;
}

section.black-mesh
{
	background-color:silver;
	background-image: url('../PATTERN/black-mesh.jpg');
}

section.centered > div
{
	margin:0 auto;
}


/*------------------------ SPECIFIC ELEMENTS -----------------------*/

.bullet-link
{
	width:56px;
	height:56px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.56);
	border:1px double black;
	background-color: black;
	color:white;
	padding:5px 5px;
}

.bullet-link:hover
{
	margin-left:8px;
	width:58px;
	height:58px;
}

ul.inline
{
	list-style-type: none;
	margin:0;
	padding: 0;
}

ul.inline li
{
	display:inline-block;
}

ul.icon li
{
	width:128px;
	height:128px;
	background-color: rgba(0,0,0,0.39);
	border-radius:10px 10px;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.65);
	color:black;
}

ul.icon li:hover
{
	background-color: rgba(0,220,250,0.15);
}

ul.gap li
{
	padding-top:5px;
	padding-bottom:5px;
}	

ul.dashed li
{
	border-top: 1px dashed;
}

div.screenshot
{
	border:1px solid black;
	background-color:white;
	box-shadow: 0 1px 6px black;
	width: 320px;
	height:200px;
}

div.screenshot img
{
	margin:3px;
	border:1px solid silver;
	width:312px;
	height:192px;
}

div.screenshot-mega
{
	width:1080px;
	height: 667px;
	border:1px solid rgba(0,0,0,0.88);
	box-shadow: 0 0 4px rgba(0,0,0,0.59)
}

div.screenshot-mega img
{
	margin:1px 1px;
	width: 1078px;
	height:665px;
}

button
{
	width:155px;
	height:36px;
	color:black;
	font-size:13pt;
	border:1px solid #302000;
	box-shadow: 0 1px 2px rgba(0,0,0,0.45);
	background: #f7c931; /* Old browsers */
	background: -moz-linear-gradient(top, #f7c931 0%, #eda782 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c931), color-stop(100%,#eda782)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7c931 0%,#eda782 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7c931 0%,#eda782 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7c931 0%,#eda782 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7c931 0%,#eda782 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c931', endColorstr='#eda782',GradientType=0 ); /* IE6-9 */
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}

button:hover
{
	font-size:15pt;
	background: #f7c931; /* Old browsers */
	background: -moz-linear-gradient(top, #f7c931 0%, #ea7235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c931), color-stop(100%,#ea7235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7c931 0%,#ea7235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7c931 0%,#ea7235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7c931 0%,#ea7235 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7c931 0%,#ea7235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c931', endColorstr='#ea7235',GradientType=0 ); /* IE6-9 */
	-webkit-transition:all 0.31s ease-out;
   -moz-transition:all 0.31s ease-out;
   -o-transition:all 0.31s ease-out;
	transition-property:all;
	transition-duration:0.31s;
}



